@tailwind base;
@tailwind components;
@tailwind utilities;

.contenedor-btn-estado {
    display: flex;
    justify-content: center;
    
   
}

.btn-estado {
    border: none;
    width: 200px;
    height: 60px;
    margin-bottom: 25px;
    color: rgb(0, 0, 0);
}

.btn-estado:hover {
    background-color: rgb(4, 154, 247);
    color: white;

}


/*Estilo para la pagina de perfil de usuario*/

.page-record-container {
    margin-right:2.5vw;
    background-color: #ffffff;
}

.title-item-profile {
    display: block;
    color: rgb(255, 255, 255);
    font-size:28px;
}


.description-item-profile {
    margin-bottom: 7px;
    color: rgba(0, 0, 0, 0.767);
    font-size: 14px;
}


.description-item-profile-label {
    display: inline-block;
    margin-right: 8px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

/*==============Estilo para formulario requerimiento===================*/
.ant-advanced-form {
    padding: 16px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    margin-bottom: 1rem;
   
}

.dynamic-delete-button {
    position: relative;
    top: 4px;
    margin: 0 8px;
    color: #dd4c4c;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .dynamic-delete-button:hover {
    color: #ff0606;
  }
  .dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
